## Introduction

The primary purpose of this notebook is to explore how to clean an csv dataset and add it a SQLite database.  As well as perform some basic analysis.  

The dataset is collection of stats on the academy awards, located [here](https://www.aggdata.com/awards/oscar)


First read in the data and explore a bit:

In [82]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

data = pd.read_csv("academy_awards.csv", encoding="ISO-8859-1")

data.head(20)

for col in data.ix[:,6:11]:
    data[col].value_counts()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN
5,2010 (83rd),Actor -- Supporting Role,Christian Bale,The Fighter {'Dicky Eklund'},YES,NaN,NaN,NaN,NaN,NaN,NaN
6,2010 (83rd),Actor -- Supporting Role,John Hawkes,Winter's Bone {'Teardrop'},NO,NaN,NaN,NaN,NaN,NaN,NaN
7,2010 (83rd),Actor -- Supporting Role,Jeremy Renner,The Town {'James Coughlin'},NO,NaN,NaN,NaN,NaN,NaN,NaN
8,2010 (83rd),Actor -- Supporting Role,Mark Ruffalo,The Kids Are All Right {'Paul'},NO,NaN,NaN,NaN,NaN,NaN,NaN
9,2010 (83rd),Actor -- Supporting Role,Geoffrey Rush,The King's Speech {'Lionel Logue'},NO,NaN,NaN,NaN,NaN,NaN,NaN
10,2010 (83rd),Actress -- Leading Role,Annette Bening,The Kids Are All Right {'Nic'},NO,NaN,NaN,NaN,NaN,NaN,NaN
11,2010 (83rd),Actress -- Leading Role,Nicole Kidman,Rabbit Hole {'Becca'},NO,NaN,NaN,NaN,NaN,NaN,NaN
12,2010 (83rd),Actress -- Leading Role,Jennifer Lawrence,Winter's Bone {'Ree'},NO,NaN,NaN,NaN,NaN,NaN,NaN
13,2010 (83rd),Actress -- Leading Role,Natalie Portman,Black Swan {'Nina Sayers/The Swan Queen'},YES,NaN,NaN,NaN,NaN,NaN,NaN
14,2010 (83rd),Actress -- Leading Role,Michelle Williams,Blue Valentine {'Cindy'},NO,NaN,NaN,NaN,NaN,NaN,NaN
15,2010 (83rd),Actress -- Supporting Role,Amy Adams,The Fighter {'Charlene Fleming'},NO,NaN,NaN,NaN,NaN,NaN,NaN
16,2010 (83rd),Actress -- Supporting Role,Helena Bonham Carter,The King's Speech {'Queen Elizabeth'},NO,NaN,NaN,NaN,NaN,NaN,NaN
17,2010 (83rd),Actress -- Supporting Role,Melissa Leo,The Fighter {'Alice Ward'},YES,NaN,NaN,NaN,NaN,NaN,NaN
18,2010 (83rd),Actress -- Supporting Role,Hailee Steinfeld,True Grit {'Mattie Ross'},NO,NaN,NaN,NaN,NaN,NaN,NaN
19,2010 (83rd),Actress -- Supporting Role,Jacki Weaver,Animal Kingdom {'Janine 'Smurf' Cody'},NO,NaN,NaN,NaN,NaN,NaN,NaN

*                                                                   9
 direct radiator bass style cinema loudspeaker systems. [Sound]"    1
 flexibility and water resistance                                   1
 sympathetic                                                        1
Name: Unnamed: 6, dtype: int64

 kindly                                               1
 while requiring no dangerous solvents. [Systems]"    1
*                                                     1
Name: Unnamed: 7, dtype: int64

 understanding comedy genius - Mack Sennett.""    1
*                                                 1
Name: Unnamed: 8, dtype: int64

*    1
Name: Unnamed: 9, dtype: int64

*    1
Name: Unnamed: 10, dtype: int64

This dataset is pretty messy.  Many columns have strange/multiple formatting aspects.  Like the additional info column.  If this dataset is going to be transformed into a SQLite database a lot of the columns have to be cleaned.

First the year column and some filtering:

## Filtering and Cleaning

In [83]:
data['Year'] = data['Year'].str[0:4]
data['Year'] = data['Year'].astype("int64")

later_than_2000 = data[data['Year'] > 2000]

In [84]:
award_categories = ['Actor -- Leading Role','Actor -- Supporting Role','Actress -- Leading Role','Actress -- Supporting Role']

nominations = later_than_2000[later_than_2000["Category"].isin(award_categories)]

## Cleaning cont. Won? and Unnamed Cols

In [85]:
map_values = {
    "NO":0,
    "YES":1
}

nominations['Won?'] = nominations['Won?'].map(map_values)
nominations['Won'] = nominations['Won?']

drop_cols = ["Won?","Unnamed: 5", "Unnamed: 6","Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10"]

final_nominations = nominations.drop(drop_cols, axis=1)

/home/cjsweeten101/DataQuest/DataQuestProjects/AcademyAwards/venv/lib/python3.4/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/cjsweeten101/DataQuest/DataQuestProjects/AcademyAwards/venv/lib/python3.4/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [86]:
final_nominations.head(3)

,Year,Category,Nominee,Additional Info,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0

## Cleaning Additional Info

In [87]:
additional_info_one = final_nominations['Additional Info'].str.rstrip("'}")
additional_info_two = additional_info_one.str.split(" {'")

movie_names = additional_info_two.str[0]
characters = additional_info_two.str[1]

final_nominations['Movie'] = movie_names
final_nominations['Character'] = characters

final_nominations = final_nominations.drop(['Additional Info'], axis=1)

final_nominations.head(3)

,Year,Category,Nominee,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,0,The Social Network,Mark Zuckerberg

## Convert to SQLite Database

In [88]:
import sqlite3 as sql

conn = sql.connect("nominations.db")

final_nominations.to_sql('nominations', conn, index=False)

In [93]:
conn.execute("pragma table_info(nominations)").fetchall()
conn.execute("select * from nominations limit 5").fetchall()
conn.close()

[(0, 'Year', 'INTEGER', 0, None, 0),
 (1, 'Category', 'TEXT', 0, None, 0),
 (2, 'Nominee', 'TEXT', 0, None, 0),
 (3, 'Won', 'INTEGER', 0, None, 0),
 (4, 'Movie', 'TEXT', 0, None, 0),
 (5, 'Character', 'TEXT', 0, None, 0)]

[(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal'),
 (2010,
  'Actor -- Leading Role',
  'Jeff Bridges',
  0,
  'True Grit',
  'Rooster Cogburn'),
 (2010,
  'Actor -- Leading Role',
  'Jesse Eisenberg',
  0,
  'The Social Network',
  'Mark Zuckerberg'),
 (2010,
  'Actor -- Leading Role',
  'Colin Firth',
  1,
  "The King's Speech",
  'King George VI'),
 (2010,
  'Actor -- Leading Role',
  'James Franco',
  0,
  '127 Hours',
  'Aron Ralston')]