## Introduction

The primary purpose of this notebook is to explore how to clean an csv dataset and add it a SQLite database.  And then become more comfortable with SQLite by performing quires and data normalization.  

The dataset is collection of stats on the academy awards, located [here](https://www.aggdata.com/awards/oscar)


First read in the data and explore a bit:

In [69]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

data = pd.read_csv("academy_awards.csv", encoding="ISO-8859-1")

data.head(20)

for col in data.ix[:,6:11]:
    data[col].value_counts()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN
5,2010 (83rd),Actor -- Supporting Role,Christian Bale,The Fighter {'Dicky Eklund'},YES,NaN,NaN,NaN,NaN,NaN,NaN
6,2010 (83rd),Actor -- Supporting Role,John Hawkes,Winter's Bone {'Teardrop'},NO,NaN,NaN,NaN,NaN,NaN,NaN
7,2010 (83rd),Actor -- Supporting Role,Jeremy Renner,The Town {'James Coughlin'},NO,NaN,NaN,NaN,NaN,NaN,NaN
8,2010 (83rd),Actor -- Supporting Role,Mark Ruffalo,The Kids Are All Right {'Paul'},NO,NaN,NaN,NaN,NaN,NaN,NaN
9,2010 (83rd),Actor -- Supporting Role,Geoffrey Rush,The King's Speech {'Lionel Logue'},NO,NaN,NaN,NaN,NaN,NaN,NaN
10,2010 (83rd),Actress -- Leading Role,Annette Bening,The Kids Are All Right {'Nic'},NO,NaN,NaN,NaN,NaN,NaN,NaN
11,2010 (83rd),Actress -- Leading Role,Nicole Kidman,Rabbit Hole {'Becca'},NO,NaN,NaN,NaN,NaN,NaN,NaN
12,2010 (83rd),Actress -- Leading Role,Jennifer Lawrence,Winter's Bone {'Ree'},NO,NaN,NaN,NaN,NaN,NaN,NaN
13,2010 (83rd),Actress -- Leading Role,Natalie Portman,Black Swan {'Nina Sayers/The Swan Queen'},YES,NaN,NaN,NaN,NaN,NaN,NaN
14,2010 (83rd),Actress -- Leading Role,Michelle Williams,Blue Valentine {'Cindy'},NO,NaN,NaN,NaN,NaN,NaN,NaN
15,2010 (83rd),Actress -- Supporting Role,Amy Adams,The Fighter {'Charlene Fleming'},NO,NaN,NaN,NaN,NaN,NaN,NaN
16,2010 (83rd),Actress -- Supporting Role,Helena Bonham Carter,The King's Speech {'Queen Elizabeth'},NO,NaN,NaN,NaN,NaN,NaN,NaN
17,2010 (83rd),Actress -- Supporting Role,Melissa Leo,The Fighter {'Alice Ward'},YES,NaN,NaN,NaN,NaN,NaN,NaN
18,2010 (83rd),Actress -- Supporting Role,Hailee Steinfeld,True Grit {'Mattie Ross'},NO,NaN,NaN,NaN,NaN,NaN,NaN
19,2010 (83rd),Actress -- Supporting Role,Jacki Weaver,Animal Kingdom {'Janine 'Smurf' Cody'},NO,NaN,NaN,NaN,NaN,NaN,NaN

*                                                                   9
 flexibility and water resistance                                   1
 direct radiator bass style cinema loudspeaker systems. [Sound]"    1
 sympathetic                                                        1
Name: Unnamed: 6, dtype: int64

*                                                     1
 while requiring no dangerous solvents. [Systems]"    1
 kindly                                               1
Name: Unnamed: 7, dtype: int64

*                                                 1
 understanding comedy genius - Mack Sennett.""    1
Name: Unnamed: 8, dtype: int64

*    1
Name: Unnamed: 9, dtype: int64

*    1
Name: Unnamed: 10, dtype: int64

This dataset is pretty messy.  Many columns have strange/multiple formatting aspects.  Like the additional info column.  If this dataset is going to be transformed into a SQLite database a lot of the columns have to be cleaned.

First the year column and some filtering:

## Filtering and Cleaning

In [70]:
data['Year'] = data['Year'].str[0:4]
data['Year'] = data['Year'].astype("int64")

later_than_2000 = data[data['Year'] > 2000]

In [71]:
award_categories = ['Actor -- Leading Role','Actor -- Supporting Role','Actress -- Leading Role','Actress -- Supporting Role']

nominations = later_than_2000[later_than_2000["Category"].isin(award_categories)]

## Cleaning cont. Won? and Unnamed Cols

In [72]:
map_values = {
    "NO":0,
    "YES":1
}

nominations['Won?'] = nominations['Won?'].map(map_values)
nominations['Won'] = nominations['Won?']

drop_cols = ["Won?","Unnamed: 5", "Unnamed: 6","Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10"]

final_nominations = nominations.drop(drop_cols, axis=1)

/home/cjsweeten101/DataQuest/DataQuestProjects/AcademyAwards/venv/lib/python3.4/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/cjsweeten101/DataQuest/DataQuestProjects/AcademyAwards/venv/lib/python3.4/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [73]:
final_nominations.head(3)

,Year,Category,Nominee,Additional Info,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0

## Cleaning Additional Info

In [74]:
additional_info_one = final_nominations['Additional Info'].str.rstrip("'}")
additional_info_two = additional_info_one.str.split(" {'")

movie_names = additional_info_two.str[0]
characters = additional_info_two.str[1]

final_nominations['Movie'] = movie_names
final_nominations['Character'] = characters

final_nominations = final_nominations.drop(['Additional Info'], axis=1)

final_nominations.head(3)

,Year,Category,Nominee,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,0,The Social Network,Mark Zuckerberg

## Convert to SQLite Database

In [75]:
import sqlite3 as sql

conn = sql.connect("nominations.db")

#Database is already created on my local environment
final_nominations.to_sql('nominations', conn, index=False)

In [76]:
schema = conn.execute("pragma table_info(nominations)").fetchall()
first_ten = conn.execute("select * from nominations limit 10").fetchall()

for item in schema:
    print(item)
for item in first_ten:
    print(item)

(0, 'Year', 'INTEGER', 0, None, 0)
(1, 'Category', 'TEXT', 0, None, 0)
(2, 'Nominee', 'TEXT', 0, None, 0)
(3, 'Won', 'INTEGER', 0, None, 0)
(4, 'Movie', 'TEXT', 0, None, 0)
(5, 'Character', 'TEXT', 0, None, 0)
(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

## Add a ceremonies table

For the sake of doing more interesting analysis, and to become more comfortable with one-to-many relationships in SQL, lets add another table.

This table will contain information on the overall ceremony, the host and year.  

This information is simply grabbed from [Wikipedia](https://en.wikipedia.org/wiki/List_of_Academy_Awards_ceremonies#Ceremonies)

In [77]:
conn.execute("create table ceremonies (id integer PRIMARY KEY, Year integer, Host text);")

years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]
insert_query = "insert into ceremonies (Year, Host) values (?,?);"

conn.executemany(insert_query, years_hosts)

conn.execute("select * from ceremonies limit 10").fetchall()
conn.close()

[(1, 2010, 'Steve Martin'),
 (2, 2009, 'Hugh Jackman'),
 (3, 2008, 'Jon Stewart'),
 (4, 2007, 'Ellen DeGeneres'),
 (5, 2006, 'Jon Stewart'),
 (6, 2005, 'Chris Rock'),
 (7, 2004, 'Billy Crystal'),
 (8, 2003, 'Steve Martin'),
 (9, 2002, 'Whoopi Goldberg'),
 (10, 2001, 'Steve Martin')]

## Setting up The Relationship

So it turns out you can't just remove columns from a table with SQLite, or even change its schema.   May have to something a little convoluted

In [78]:
conn = sql.connect("nominations.db")
conn.execute("pragma foreign_keys = ON;")

create_nominations_two = '''create table nominations_two 
(id integer primary key, 
category text, 
nominee text, 
movie text, 
character text, 
won text,
ceremony_id integer,
foreign key(ceremony_id) references ceremonies(id));
'''

nom_query = '''
select ceremonies.id as ceremony_id, nominations.category as category, 
nominations.nominee as nominee, nominations.movie as movie, 
nominations.character as character, nominations.won as won
from nominations
inner join ceremonies 
on nominations.year == ceremonies.year
;
'''
joined_nominations = conn.execute(nom_query).fetchall()

conn.execute(create_nominations_two)

insert_nominations_two = '''insert into nominations_two (ceremony_id, category, nominee, movie, character, won) 
values (?,?,?,?,?,?);
'''

conn.executemany(insert_nominations_two, joined_nominations)
conn.execute("select * from nominations_two limit 3;")

[]

## Deleting and Renaming

In [79]:
conn.execute("drop table nominations")
conn.execute("alter table nominations_two rename to nominations")

## Creating a Join Table

In [80]:
conn.execute('''create table movies(
id integer primary key,
movie text);
''')

conn.execute('''create table actors(
id integer primary key,
actor text);
''')

conn.execute('''create table movies_actors(
id integer primary key,
movie_id integer references movies(id),
actor_id integer references actors(id)
);''')